@import 'base-vars.scss';

.svz-parallax{
	display: flex; 
	justify-content: center;
	overflow:hidden; 
	position: relative;
	transition: opacity 300ms ease;
	.plax-container{
		position: absolute;
		height: 100vh;
		width: 100vw;
		z-index: -1001;
		&.slow{
			height: 120vh;
		}
	}
}
